#components-dropdown-demo-arrow .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
}

.ant-row-rtl #components-dropdown-demo-arrow .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
}

.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    /* padding: 0 !important; */
    height: 32px !important;
    line-height: 32px !important;
}
.iconstyle{
    font-size: 12px;
    color: #666;
    font-size: 12px;
    color: #666;
    margin-left: 0;
    line-height: 1;
}
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover{
    /* background: #54d6cd; */
}
.ant-avatar > img{
    cursor: pointer;
}