.box {
    height: 100vh;
}

.ant-layout.ant-layout-has-sider {
    height: 100% !important;
}

.logo {
    height: 60px;
    line-height: 60px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.trigger {
    color: #fff;
    font-size: 20px;
    margin-left: 16px;
    line-height: 64px;
}

.Header {
    display: flex;
    height: 64px;
}

.ant-layout-sider-children {
    overflow-y: auto;
}

.Header>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}